@import "carrinho.css";
@import "produtos.css";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css);
.far,.fa{
    cursor:pointer;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
:root {
    --primary-color-btn-card: #15CE97;
    --primary-font-color-card: #26C0E2;
    --secondary-font-color-card: #000000;
    --widget-promotion: #EC3354;
    --widget-off: #FD8B22;
    --widget-sale: #8222FD;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.menu .logo {
    height: 7em;
}

.casle-search {
    height: 60px;
    border-radius: 120px;
    background:lightblue;
}

.search {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 120px;
    border: none;
    background: rgba(255, 255, 255, 0);
    padding: 0 68px 0 68px;
    color: black;
    font-size: 1.32em;
    font-weight: 400;
    letter-spacing: -0.015em;
    outline: none;
}
.btn{
    cursor: pointer;
}
.main-title{
    margin-top: 2em;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
    }
}